<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
	<property name="hibernate.bytecode.use_reflection_optimizer">true</property>
	
	
		
	
	<property name="hibernate.connection.password">cuotas</property>
	<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cuotas</property>
	<property name="hibernate.connection.username">cuotas</property>
	<property name="hibernate.show_sql">false</property>

	<!-- <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>    -->
	<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property> 
	<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
	
	<property name="hibernate.jdbc.batch_size">20</property>
	 
	 

	<mapping resource="cuotas/dataSource/repository/hibernate/mapping/AlumnosCarreras.hbm.xml" />
	<mapping resource="cuotas/dataSource/repository/hibernate/mapping/Beca.hbm.xml" />	
	<mapping resource="cuotas/dataSource/repository/hibernate/mapping/Carrera.hbm.xml" />
	<mapping resource="cuotas/dataSource/repository/hibernate/mapping/CarreraDep.hbm.xml" />
	<mapping resource="cuotas/dataSource/repository/hibernate/mapping/CodigosAnteriores.hbm.xml" />	
	<mapping resource="cuotas/dataSource/repository/hibernate/mapping/Cuota.hbm.xml" />
	<mapping resource="cuotas/dataSource/repository/hibernate/mapping/Evento.hbm.xml" />
	<mapping resource="cuotas/dataSource/repository/hibernate/mapping/Factura.hbm.xml" />
	<mapping resource="cuotas/dataSource/repository/hibernate/mapping/FacturaItem.hbm.xml" />
	<mapping resource="cuotas/dataSource/repository/hibernate/mapping/FacturaItemTipo.hbm.xml" />
	<mapping resource="cuotas/dataSource/repository/hibernate/mapping/FormaPago.hbm.xml" />		
	<mapping resource="cuotas/dataSource/repository/hibernate/mapping/GOpecate.hbm.xml" />
	<mapping resource="cuotas/dataSource/repository/hibernate/mapping/GOperador.hbm.xml" />
	<mapping resource="cuotas/dataSource/repository/hibernate/mapping/GOperopc.hbm.xml" />
	<mapping resource="cuotas/dataSource/repository/hibernate/mapping/GOpcion.hbm.xml" />
	<mapping resource="cuotas/dataSource/repository/hibernate/mapping/Grupo.hbm.xml" />
	<mapping resource="cuotas/dataSource/repository/hibernate/mapping/Guarani.hbm.xml" />
	<mapping resource="cuotas/dataSource/repository/hibernate/mapping/MapeoTipoDocumento.hbm.xml" />
	<mapping resource="cuotas/dataSource/repository/hibernate/mapping/OrigenPago.hbm.xml" />
	<mapping resource="cuotas/dataSource/repository/hibernate/mapping/Pago.hbm.xml" />
	<mapping resource="cuotas/dataSource/repository/hibernate/mapping/Partida.hbm.xml" />
	<mapping resource="cuotas/dataSource/repository/hibernate/mapping/Persona.hbm.xml" />
	<mapping resource="cuotas/dataSource/repository/hibernate/mapping/PersonasBeca.hbm.xml" />
	<mapping resource="cuotas/dataSource/repository/hibernate/mapping/RegistroPago.hbm.xml" />
	<mapping resource="cuotas/dataSource/repository/hibernate/mapping/RubroCobro.hbm.xml" />
	<mapping resource="cuotas/dataSource/repository/hibernate/mapping/SucursalCobro.hbm.xml" />	
	<mapping resource="cuotas/dataSource/repository/hibernate/mapping/TipoCuota.hbm.xml" />
	<mapping resource="cuotas/dataSource/repository/hibernate/mapping/TipoFactura.hbm.xml" />
	<mapping resource="cuotas/dataSource/repository/hibernate/mapping/TipoPago.hbm.xml" />
	<mapping resource="cuotas/dataSource/repository/hibernate/mapping/TipoImpresion.hbm.xml" />
	<mapping resource="cuotas/dataSource/repository/hibernate/mapping/Usuarios.hbm.xml" />
	
    </session-factory>
</hibernate-configuration>
