<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.4">
  <display-name>Cuotas</display-name>
  	<filter>
    	<filter-name>MiFiltro</filter-name>
    	<filter-class>common.model.service.MiFiltro</filter-class>
	</filter>
	<filter-mapping>
    	<filter-name>MiFiltro</filter-name>
    	<url-pattern>/MiFiltro</url-pattern>
	</filter-mapping>
	 
	<filter-mapping>
		<filter-name>MiFiltro</filter-name>
		<servlet-name>BecaServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>MiFiltro</filter-name>
		<servlet-name>CarrerasDepCuotasServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>MiFiltro</filter-name>
		<servlet-name>CarreraServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>MiFiltro</filter-name>
		<servlet-name>ChequeraServlet</servlet-name>	
	</filter-mapping>
	<filter-mapping>
		<filter-name>MiFiltro</filter-name>
		<servlet-name>CronServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>MiFiltro</filter-name>
		<servlet-name>CuotasServletUtils</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>MiFiltro</filter-name>
		<servlet-name>FacturaItemTipoServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>MiFiltro</filter-name>
		<servlet-name>FacturaRubroCobroServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>MiFiltro</filter-name>
		<servlet-name>FacturaServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>MiFiltro</filter-name>
		<servlet-name>GrupoCuotasServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>MiFiltro</filter-name>
		<servlet-name>GrupoServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>MiFiltro</filter-name>
		<servlet-name>InterfaceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>MiFiltro</filter-name>
		<servlet-name>PartidaServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>MiFiltro</filter-name>
		<servlet-name>PersonaServlet</servlet-name>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>MiFiltro</filter-name>
		<servlet-name>Prueba</servlet-name>
	</filter-mapping>
	 
	<filter-mapping>
		<filter-name>MiFiltro</filter-name>
		<servlet-name>ReporteServlet</servlet-name>
	</filter-mapping> 
	<filter-mapping>
		<filter-name>MiFiltro</filter-name>
		<servlet-name>RubroCobroServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>MiFiltro</filter-name>
		<servlet-name>TipoPagoServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>MiFiltro</filter-name>
		<servlet-name>UsuarioServlet</servlet-name>
	</filter-mapping>
	
	<servlet>
    	<servlet-name>CuotasServletUtils</servlet-name>
    	<servlet-class>cuotas.model.service.CuotasServletUtils</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UsuarioServlet</servlet-name>
		<servlet-class>cuotas.model.service.UsuarioServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CarreraServlet</servlet-name>
		<servlet-class>cuotas.model.service.CarreraServlet</servlet-class>
	</servlet>
 
  <servlet>
    <servlet-name>GrupoServlet</servlet-name>
    <servlet-class>cuotas.model.service.GrupoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GrupoCuotasServlet</servlet-name>
    <servlet-class>cuotas.model.service.GrupoCuotasServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PersonaServlet</servlet-name>
    <servlet-class>cuotas.model.service.PersonaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChequeraServlet</servlet-name>
    <servlet-class>cuotas.model.service.ChequeraServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FacturaServlet</servlet-name>
    <servlet-class>cuotas.model.service.FacturaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InterfaceServlet</servlet-name>
    <servlet-class>cuotas.model.service.InterfaceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReporteServlet</servlet-name>
    <servlet-class>cuotas.model.service.ReporteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FacturaItemTipoServlet</servlet-name>
    <servlet-class>cuotas.model.service.FacturaItemTipoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FacturaRubroCobroServlet</servlet-name>
    <servlet-class>cuotas.model.service.FacturaRubroCobroServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CarrerasDepCuotasServlet</servlet-name>
    <servlet-class>cuotas.model.service.CarrerasDepCuotasServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PartidaServlet</servlet-name>
    <servlet-class>cuotas.model.service.PartidaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BecaServlet</servlet-name>
    <servlet-class>cuotas.model.service.BecaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TipoPagoServlet</servlet-name>
    <servlet-class>cuotas.model.service.TipoPagoServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CronServlet</display-name>
  	<servlet-name>CronServlet</servlet-name>
  	<servlet-class>cuotas.model.service.CronServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>JsonServlet</display-name>
  	<servlet-name>JsonServlet</servlet-name>
  	<servlet-class>cuotas.model.service.JsonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TipoPagoServlet</servlet-name>
    <url-pattern>/TipoPagoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReporteServlet</servlet-name>
    <url-pattern>/ReporteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FacturaItemTipoServlet</servlet-name>
    <url-pattern>/FacturaItemTipoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FacturaRubroCobroServlet</servlet-name>
    <url-pattern>/FacturaRubroCobroServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonaServlet</servlet-name>
    <url-pattern>/PersonaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CuotasServletUtils</servlet-name>
    <url-pattern>/CuotasServletUtils</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UsuarioServlet</servlet-name>
    <url-pattern>/UsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CarreraServlet</servlet-name>
    <url-pattern>/CarreraServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GrupoServlet</servlet-name>
    <url-pattern>/GrupoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GrupoCuotasServlet</servlet-name>
    <url-pattern>/GrupoCuotasServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChequeraServlet</servlet-name>
    <url-pattern>/ChequeraServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FacturaServlet</servlet-name>
    <url-pattern>/FacturaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InterfaceServlet</servlet-name>
    <url-pattern>/InterfaceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CarrerasDepCuotasServlet</servlet-name>
    <url-pattern>/CarrerasDepCuotasServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PartidaServlet</servlet-name>
    <url-pattern>/PartidaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BecaServlet</servlet-name>
    <url-pattern>/BecaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CronServlet</servlet-name>
  	<url-pattern>/CronServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JsonServlet</servlet-name>
  	<url-pattern>/JsonServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>