div.sin_block  { display: none; }
div.print_block { display: block;font-family: "VERDANA"; font-size: 13pt; font-weight:110; letter-spacing:4px}
div.print_block2 { display: block;font-family: "VERDANA"; font-size: 9pt; letter-spacing:4px}