/* CSS menú de Navegación Slide*/
ul#navigation {
position: fixed;
margin: 0px;
padding: 0px;
top: 180px;
left: 0px;
list-style: none;
z-index:9999;
}
ul#navigation li {
width: 100px;
}
ul#navigation li a {
display: block;
margin-left: -2px;
width: 100px;
height: 70px;
background-color:#CFCFCF;
background-repeat:no-repeat;
background-position:center center;
border:1px solid #AFAFAF;
-moz-border-radius:0px 10px 10px 0px;
-webkit-border-bottom-right-radius: 10px;
-webkit-border-top-right-radius: 10px;
-khtml-border-bottom-right-radius: 10px;
-khtml-border-top-right-radius: 10px;
/*-moz-box-shadow: 0px 4px 3px #000;
-webkit-box-shadow: 0px 4px 3px #000;
*/
opacity: 0.6;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}
ul#navigation .pencil a{
	background-image:url("../images/pencil.png");
}
ul#navigation .ojo a{
	background-image:url("../images/ojo.png");
	 background-size: 50px 50px;
}
ul#navigation .signoPeso a {
	background-image: url("../images/signoPeso2.png");
}
ul#navigation .atras a {
	background-image: url("../images/atras.png");
}
ul#navigation .agregar a {
background-image: url("../images/add.png");
}
ul#navigation .factura a {
background-image: url("../images/invoice.png");
}
ul#navigation .imagen6 a {
background-image: url(url-de-tu-imagen);
}
ul#navigation .imagen7 a {
background-image: url(url-de-tu-imagen);
}